@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body{
  background-color: #000;
  color: #fff;
}
.btn{
  color: #fff;
}
.btn:hover{
  color: #fff;
}
.main-top{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),url("../assets/img/mainTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 700px;
}

.page-header{
  text-align: center;
}
.page-header h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 90px;
}
.page-header .place-order{
  font-size: 20px;
}

.our-story{
  text-align: center;
  margin: 0 auto;
  padding: 70px 0px;
}
.our-story h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.image-story img{
  width: 50%;
  border-radius: 5px;
  margin: 30px 0px;
}
.describe-story{
  margin: 0 auto;
  width: 80%;
}
.describe-story p{
  margin-bottom: 30px;
}
footer{
  text-align: center;
  margin: 0 auto;
}
