.card{
  margin: 0.4rem;
  background: black;
}
/* .card:hover{
  box-shadow: 5px 5px 5px rgba(255, 255, 3, 0.954);
} */

.container {
  margin-top: 10px;
}

.premade , .base{
  height: 20em;
}

.toppings{
  /* height: 8rem;
  padding: 0.8rem; */
  margin: 0.4rem;
}
.space {
  margin-top: 50px;
}

body {
  background: black;
}

h1, h2, h3, p, li, label {
  color: white;
}

#display {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid yellow;
}

.fas {
  color: yellow;
}

/* input[type=checkbox], input [type=radio] {
  margin-left: 25px;
} */

#priceText {
  font-weight: bold;
  font-size: 1.5rem;
}


