/* Create colour vars */

/* .footer {
    background: grey;
} */
.jumbotron {
    background-image: url("../assets/img/jumbotron_bg.jpg");
    
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white
  }

 