body{
    background-color: #000;
    color: #fff;
}

.register{
    text-align: center;
    margin: 80px 0px;
    width: 100%;
}
.register h1{
    margin: 40px 0px;
}
.register hr{
    width: 30%;
    border: 1px solid  #fff;
    margin: 20px 0px;
}
.registered-desc{
    width:40%;
    font-size: 15px;
}
.registered-btn{
    margin: 60px 0px;
}
.register button{
    width: 200px;
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .registered-desc{
        width:60%;
    }    
}